@import "../../styles/colorScheme";
@import "../../styles/import";

.user {
  margin-top: 1.5rem;
  min-height: 444px;

  width: 100%;
  &__wrapper {
    border-radius: 1rem;
    background-color: $d-dark;
    min-height: 100%;

    .light & {
      background-color: $l-white;
      box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
    }
  }
  &__details {
    height: 100%;
    padding: 3rem;
    display: flex;

    &--info {
      h1 {
        font-size: 26px;
      }

      .text--blue {
        font-size: 16px;
      }
    }
    &--left {
      height: 100%;
      img {
        margin-top: 0.5rem;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        user-select: none;
      }
    }

    &--right {
      width: 100%;
      height: 100%;
      margin-left: 2.3rem;

      .wrapper {
        display: flex;
        justify-content: space-between;

        &--inner {
          display: block;
          img {
            display: none;
          }
        }
      }
    }

    &--name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h1 {
        font-size: 26px;
        a {
          color: $l-white;

          .light & {
            color: $l-dark;
          }
        }
      }
    }
  }

  &__bio {
    margin-top: 1.5rem;
    min-height: 30px;
    font-size: 15px;
    color: $l-white;
    font-weight: normal;

    .light & {
      color: $l-dark-blue;
    }
  }

  &__joinedDate {
    font-size: 15px;
    color: $l-white;

    &-m {
      display: none;
    }

    .light & {
      color: $l-gray;
    }
  }

  &__info {
    &--card {
      margin-top: 1rem;
      background-color: $d-darker;
      color: $l-white;
      height: 85px;
      border-radius: 1rem;
      padding: 0rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .light & {
        background-color: $l-light-blue;
        color: $l-dark;
      }

      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;

        th {
          text-align: left;
          font-weight: normal;
          font-size: 13px;

          .light & {
            color: $l-dark-blue;
          }
        }

        tr {
          td {
            font-size: 22px;
            font-weight: bold;
            text-align: left;
          }
        }
      }
    }
    &--socials {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 2.3rem;

      .social {
        font-size: 15px;

        a {
          color: $l-white;
          transition: all 0.2s ease;

          &:hover {
            text-decoration: underline;
          }

          .light & {
            color: $l-dark-blue;
          }
        }
        .LinesEllipsis {
          color: currentColor;

          .light & {
            color: $l-dark-blue;
          }
        }

        p {
          color: $l-white;
          .light & {
            color: $l-dark-blue;
          }
        }

        svg {
          margin-right: 1rem;
          path {
            fill: white;

            .light & {
              fill: $l-dark-blue;
            }
          }
        }

        margin-bottom: 1rem;
        display: flex;
        align-items: center;
      }
    }
  }

  @include media("<=tablet") {
    .wrapper {
      &--inner {
        img {
          width: 70px !important;
          height: 100%;
        }
      }
    }
    &--name {
      h1 {
        font-size: 16px;
      }
    }

    &__bio {
      margin: 2.125rem 0 1.125rem;
    }

    &__info {
      &--card {
        padding: 0rem 1rem;
      }

      &--socials {
        display: block;
      }
    }

    table {
      th {
        text-align: center;
        font-size: 11px;
        padding-bottom: 8px;
      }

      tr {
        td {
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }

  @include media("<=desktop") {
    &__details {
      font-size: 13px;
      padding: 1.5rem;
      display: block;

      &--left {
        img {
          display: none;
        }
      }

      &--right {
        margin: 0;

        .wrapper {
          &--inner {
            display: flex;
            align-items: center;
            img {
              display: block;
              border-radius: 50%;
              width: 110px;
              height: 100%;
            }
          }
        }
      }

      &--m {
        margin-left: 1.5rem;
      }
    }

    &__joinedDate {
      display: none;

      &-m {
        display: block;
        margin-top: 9px;
        font-size: 13px;
        .light & {
          color: $l-gray;
        }
      }
    }
  }
}
