$blue: #0079ff;
$blue-hover: #60abff;
$error: #f74646;

// light mode color scheme

$l-gray: #697c9a;
$l-dark-blue: #4b6a9b;
$l-dark: #2b3442;
$l-light-blue: #f6f8ff;
$l-white: #fefefe;

// dark mode color scheme
$d-white: white;
$d-dark: #1e2a47;
$d-darker: #141d2f;
