@import "./styles/colorScheme";
@import "./styles/import";

.text {
  &--blue {
    color: $blue;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.not-available {
  opacity: 0.5;
}

.err-message {
  color: $error;
  font-size: 15px;
  font-weight: bold;
  margin-right: 1rem;
  white-space: pre;

  @include media("<desktop") {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

body.light {
  background-color: $l-light-blue;
}

.app {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .logo {
      .light & {
        path {
          fill: $d-dark;
        }
      }
    }

    .theme {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      transition: all 0.2s ease;

      p {
        font-size: 13px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        .light & {
          color: $l-dark;
        }
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 2rem;
    background-color: $d-dark;
    height: 69px;
    max-width: 100%;
    border-radius: 1rem;
    position: relative;

    @include media("<phone") {
      padding: 0 0.5rem 0 1rem;

      svg {
        width: 40px;
      }
    }

    .light & {
      background-color: $l-white;
      box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
    }

    &--input {
      margin-left: 1.5rem;
      width: 60%;

      @include media("<phone") {
        width: 100%;
        margin-left: 8px;
      }

      input {
        outline: none;
        border: none;
        background-color: transparent;
        font-family: "Space Mono";
        height: 100%;
        padding: 1rem;
        width: 100%;
        color: white;
        font-size: 18px;

        @include media("<phone") {
          font-size: 16px;
          padding: 0;
          line-height: 1.92;
        }

        .light & {
          color: $l-dark-blue;
        }

        &::placeholder {
          color: white;
          font-size: 18px;

          @include media("<phone") {
            font-size: 13px;
          }

          .light & {
            color: $l-dark-blue;
          }
        }
      }
    }

    &--button {
      margin-left: auto;
    }
  }
}

.container {
  padding: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  margin: auto;

  @include media("<desktop") {
    max-width: 573px;
  }
}
