@import "../../styles/colorScheme";
@import "../../styles/import";
.btn {
  width: 106px;
  height: 50px;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;

  @include media("<phone") {
    width: 84px;
    height: 46px;
  }

  &--search {
    color: $l-white;
    font-weight: bold;
    background-color: $blue;
    transition: background-color 0.2s ease-out;
    cursor: pointer;

    &:hover {
      background-color: $blue-hover;
    }
  }
}
